<main>

    <div class="first-form">
      <div class="form-section">
        <input type="text" placeholder="User..." class="form-input">
      </div>
      <div class="form-section">
        <input type="text" placeholder="Codigo..." class="form-input">
      </div>
      <div class="form-section">
        <input type="text" placeholder="Cliente..." class="form-input">
      </div>
      <div class="form-section">
        <a href="#" class="myButton">Buscar</a>
      </div>
    </div>

    <div class="second-form">
      <div class="form-section">
        <input type="text" placeholder="Unidad..." class="form-input">
      </div>

      <div class="form-section">
        <a href="#" class="myButton">Buscar</a>
      </div>
    </div>

    <div class="first-form">
      <div class="form-section">
        <input type="text" placeholder="Search by..." class="form-input">
      </div>
      <div class="form-section">
        <select name="by" id="" class="form-input-select">
          <option value="Selecciona">Seleciona</option>
        </select>
      </div>

      <div class="form-section">
        <a href="#" class="myButton">Buscar unidad</a>
      </div>

    </div>
    <div class="ulti-form">


      <div class="form-section">
        <a href="#" class="myButton">Allocate Units</a>
      </div>

    </div>

  </main>